/*
==============================
          GENERAL
==============================
*/
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.topbar {
  background: #231a47;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-btn {
  background: white;
  color: #231a47;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.admin-btn:hover {
background: #231a47;
color: white;
}

.cerrar-btn {
  background: white;
  color: #231a47;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.cerrar-btn:hover {
background: #231a47;
color: white;
}

.botones-btn {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

section {
  background: #231a473b;
  padding: 15px;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #231a47;
  font-size: 15px; 
  font-weight: bold;
}

button:hover {
  background: #35275c;
  color: #ffffff;
}

.total {
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
}

/* 
============================
   TABLA PRODUCTOS-INDEX
===========================
*/
.tabla-productos {
  margin-top: 10px;
}

.tabla-productos .encabezado {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-weight: bold;
  padding: 8px 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
}

#lista-productos li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

#lista-productos li span,
.tabla-productos .encabezado span {
  text-align: center;
}

#lista-productos li span:first-child,
.tabla-productos .encabezado span:first-child {
  text-align: left;
}

/* 
=============================
   ADMIN - TABLA PRODUCTOS
=============================
*/
.admin-tabla-productos {
  margin-top: 10px;
}

.admin-tabla-productos .encabezado {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  font-weight: bold;
  padding: 8px 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
}

.admin-tabla-productos #lista-productos li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.admin-tabla-productos #lista-productos li span {
  text-align: center;
}

.admin-tabla-productos #lista-productos li span:first-child {
  text-align: left;
}

.admin-tabla-productos .acciones {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.admin-tabla-productos .btn-editar {
  background: #f4a261;
}

.admin-tabla-productos .btn-eliminar {
  background: #e63946;
}

.admin-tabla-productos .btn-editar:hover {
  background: #e76f51;
}

.admin-tabla-productos .btn-eliminar:hover {
  background: #c1121f;
}
/* 
=================================
        TABLA DE REPORTE
=================================
*/
.dashboard {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}

.reporte {
  width: 320px;
  font-family: sans-serif;
}

.reporte h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.reporte hr {
  border: none;
  border-top: 2px solid #000;
  margin-bottom: 15px;
}

.reporte-fila {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-weight: 500;
}


/* 
=========================
          MODAL
========================= 
*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.cerrar {
  float: right;
  cursor: pointer;
  font-size: 22px;
}

